[user]

    # Set the author field of commits.
    name = Corey Holland

    # Set the committer field of commits.
    email = cholland1989@fastmail.com

[init]

    # Set the default branch name.
    defaultBranch = main

[core]

    # Set the editor for commit messages.
    editor = vim

    # Enable the filesystem cache.
    fscache = true

    # Enable parallel index preload.
    preloadIndex = true

    # Speed up commands involving untracked files.
    untrackedCache = true

    # Prevent showing files whose names contain Unicode symbols as unversioned.
    precomposeUnicode = false

    # Make rebase safer on macOS.
    trustctime = false

    # Set the tab size.
    pager = less -x4

    # Disable line ending conversion.
    autocrlf = false

[color]

    # Enable colors in terminal output.
    ui = auto

[branch]

    # Sort branches by most recent commit.
    sort = -committerdate

[diff]

    # Attempt to preserve more context.
    algorithm = minimal

    # Attempt to make the resulting patch easier to read.
    compactionHeuristic = true

    # Detect copies as well as renames.
    renames = copies

[diff "bin"]

    # Show hex comparison of binary files.
    textconv = hexdump -v -C

[push]

    # Refuse to push if the upstream branch's name is different.
    default = simple

    # Push relevant annotated tags.
    followTags = true

[pull]

    # Rebase the current branch on top of the upstream branch.
    rebase = true

[rebase]

    # Automatically stash and re-apply pending changes.
    autoStash = true

[advice]

    # Disable deprecation warning.
    useCoreFSMonitorConfig = false

[url "ssh://git@github.com/"]

    # Redirect HTTPS to SSH.
    insteadOf = https://github.com/
