- name: Installing Go
  ansible.builtin.shell:
    cmd: |
      version=$(curl -fsSL https://go.dev/dl/?mode=json | jq -r .[0].version)
      architecture="{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' if ansible_architecture == 'x86_64' else '386' }}"
      curl -fsSL https://go.dev/dl/${version}.linux-${architecture}.tar.gz |
      tar -C /opt/ -xzf -
    creates: /opt/go/
  become: true

- name: Creating Go Symlink
  ansible.builtin.file:
    src: /opt/go/bin/go
    dest: /usr/local/bin/go
    state: link
  become: true

- name: Creating Gofmt Symlink
  ansible.builtin.file:
    src: /opt/go/bin/gofmt
    dest: /usr/local/bin/gofmt
    state: link
  become: true
