- name: Updating SSH Authorized Keys
  ansible.posix.authorized_key:
    key: "{{ lookup('ansible.builtin.file', item) }}"
    user: "{{ ansible_user_id }}"
    state: present
  with_fileglob: ~/.ssh/id_*.pub

- name: Updating SSH Configuration
  ansible.builtin.copy:
    dest: /etc/ssh/sshd_config.d/00-authentication.conf
    content: |
      HostKeyAlgorithms ssh-ed25519
      PubkeyAcceptedAlgorithms ssh-ed25519
      KexAlgorithms curve25519-sha256
      Ciphers chacha20-poly1305@openssh.com
      PubkeyAuthentication yes
      HostbasedAuthentication no
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      KerberosAuthentication no
      GSSAPIAuthentication no
      PermitRootLogin no
      UsePAM no
    mode: 0400
  become: true
  register: sshd

- name: Reloading SSH Configuration
  ansible.builtin.service:
    name: "{{ 'ssh' if ansible_os_family == 'Debian' else 'sshd' }}"
    state: reloaded
  become: true
  when: sshd.changed
